@import url ('https://fonts.googleapis.com/css?family=Open+Sans');
	

	body {
		margin: 0;
		background: #222;
		font-family: 'Work Sans', sans-serif;
		font-weight: 400;
	}


	header {
		background: #9370DB;
		width: 100%;
		z-index: 0;
	}

	.cat-pic {
		padding: 5px;
	}
	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
	nav {
		float: right;
		padding-right: 10%;
		background: #C0C0C0;
		z-index: 1;
	}

	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	nav li {
		display: inline-block;
		margin-left: 70px;
		padding-top: 23px;
		z-index: 1;
	}

	nav a {
		color: #444;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
	}

 	nav a:hover {
		color: white;
	}
		
	.profileimage {
		border: 5px;
	}

	.section {
		float: left;
		width: 650px;
		margin-top: 10px;
		margin-left: 20px;
		margin-bottom: 20px;
		background-color: #00FFFF;
		position: relative;
		z-index: 1
	}

	.section .article .H1 {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
		background-color: #008080;
		z-index: 2;
		text-align: center;
	}
	
	.section .article .p {
		width: 95%;
		position: relative;
		margin: auto;
		margin-top: 5px;
		background-color: #6A5ACD;
		z-index: 2;
		float: left;
		align: left;
	}

	aside {
		float: right;
		width: 270px;
		margin-right: 10px;
		margin-top: 10px;
		background-color: #EE82EE;
		color: gray;
		font-family: 'Work Sans', sans-serif;
		font-weight: 200;
		list-style: none;
		padding-left: 5px;
	}

	.logo {
		float: left;

	.content .portfolioimage {
		width: 100px;
		height: 100px;
	}

	.footer {
		height: 50px;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    background-color: red;
	    color: white;
	    text-align: center;
	}


	img.resize {
	  max-width:50%;
	  max-height:50%;
	}